.navigation-bar {
    display: flex;
    justify-content: space-around;
    background-color: #FFD5C2;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    margin: auto;
}


